/* Declaraion de Variables */

$cf-header:rgb(248, 207, 130);
$ch1: rgb(255, 0, 0);
$cf-barra: rgb(204, 83, 3);
$ct-beige: rgb(241, 228, 182);
$ct-hover: red;
$cf-fondo: rgb(253, 222, 119);
$c-texto: rgb(250, 218, 218);
$cf-card: rgb(221, 121, 81);
$cf-footer: lightblue;


