/* Declaraion de Variables */

$cf-header:#464660;
$ch1: #F1E9E5;
$cf-nav: #464660;
$cf-barra: #368B85;
$ct-beige: #F1E9E5;
$ct-hover: #48bdb5;
$cf-fondo: #F1E9E5;
$c-texto: #464660;
$cf-card: #368B85;
$cf-footer: #464660;


