$titulos: (
    "h1": #F1E9E5,
    "h2": #F1E9E5,
    "h3": #48bdb5,
    "h4": #F1E9E5,
    "h5": #d6d6e2
);

@import "variables";
@import "mixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.encabezado{
    background-color: $cf-header;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 15px;
    
    h1{
        font-size: 50px;
        margin: 50px 0px 0px 30px;
        color: map-get($titulos, h1); 
        font-family: 'Roboto Serif', serif;
    }
    img{
        margin: 15px;
    }
    .animate__zoomIn{
        animation-duration: 3s;
    }
    @media screen and (max-width: 800px){
        h1{
            font-size: 25px;
        }
        img{
            width: 50px;
            margin-bottom: 5px;
        }
    }
}

.navbar{
    text-align: center;
    background-color: $cf-nav;
    border-top-style: double;
    border-top-color: $ct-beige;
    .navbar-toggler{
        border-color: #368B85;
        border-style: double;
        border-radius: 5px;
    }
    .collapse{
        justify-content: center;
        .nav-link{
            padding-inline: 20px;
            color: $ct-beige;
            &:hover{
                color:$ct-hover;
                transform: scale(1.1);
            }
        }
    } 
}

/* MAIN */ 
main{
    background-color: $cf-fondo;
    .carousel-item {
            h5{
                color: map-get($titulos, h5);
                background-color: #464660a6;
                padding: 30px;
                font-size: xx-large;
            }
        }
    .mi{
        h2{
            @include h2;
        }
        .somos{
            display: flex;
            .fotoLaura{
                margin: 40px auto;
                border-radius: 30px;
                height: 100%;
            }
            .texto1{
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                margin: 30px auto;
                text-align: justify;
                color: $c-texto;
            }
        }
    }   
    .porque {
        background-image: url(/Imagenes/balanza.jpg);
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        h2{
            @include h2;
            background-color: $cf-barra;
            background: linear-gradient(90deg, rgba(241,233,229,1) 20%, #368B85 70%);
            color: map-get($titulos, h2);
            text-align: right;
        }
        .card{
            @include card;
        } 
    }
    @media screen and (max-width:800px){
        .carousel-item{
            h5{
                font-size: medium;
                padding: 20px;
            }
        }
        .somos{
            display: flex;
            flex-direction: column;
            .fotoLaura{
                width: 90%;
                padding: 10px;
                margin: auto;
                border-radius: 30px;
            }
            .texto1{
                padding: 10px;
                width: 90%;
                margin: auto;
            }
        }
        .porque{
            .img-fluid{
                width: 70% !important;
                padding: 20px;
            }
        }
    }   
}  

/*  FOOTER  */ 
footer{
    background-color: $cf-footer;
    text-align: center;
    padding: 10px;
    h3{
        color: map-get($titulos, h3); 
    }
    .botcon{
        @include botcon;
        &:hover{
            background-color:#48bdb5;
            transform: scale(1.1);
            transition: 2s;
        }
    }
    h4{
        color: map-get($titulos, h4);
        font-size: large;
        margin-top: 10px;
    } 
    .redes{
        display: flex;
        justify-content: space-around;
        margin: 10px;
        img{
            padding: 5px;
            width: 40px;
        }
        a{
            text-decoration: none;
            color: $ct-beige;
            font-size: medium;
            &:hover{
                color: #368B85;
            }
        }
    } 
    @media screen and (max-width: 800px) {
        .redes{
            flex-direction: column;
        }
    }    
}

/*  SERVICIOS  */ 
.servicios{
    h2{
        @include h2;
    }
    .card{
        @include card;
        height: 300px;
        overflow: auto;
        p{
            padding: 20px;
        }
    }
}

/*  NOTICIAS  */ 
.noticias{
    h2{
        @include h2;
    }
    .card-noti{
        text-align: center;
    }
    .card{
        @include card;
        height: 500px;;
        width: 300px;
        overflow: auto;
    }
}

/*   PREGUNTAS FRECUENTES   */
.pregfrecuentes{
    h2{
        @include h2;
    }
    h3{
        margin-top: 20px;
        border-color: #F1E9E5;
        button{
            background-color: $cf-barra;
            color: #F1E9E5;
        }
    }
    p{
       color: $c-texto;
    }   
}

/*   CONTATOS   */
.contacto{
    
    h2{
        @include h2;
    }

    fieldset{
        text-align: center;
        color: $c-texto;
        form{
            margin-left: 20px;
            text-align: center;
        }
    }
}

/*   ERROR 404   */
body{
    background-color: #464660;;
    background-size: cover;

    .error{
        background-color: #464660;;
        background-size: cover;
        display: grid;
        grid-template-columns:(1fr 1fr) ;
        grid-template-rows: (1fr 1fr 1fr 1fr);
        grid-template-areas: 
        "h1 img"
        "tex1 img"
        "tex2 img"
        "enlase enlase";
        h1{
            color: #368B85;
            font-size: 40px;
            padding: 80px 0px 0px 180px;
            grid-area: h1;
            font-family: 'Roboto Serif', serif;
        }
        img{
            width: 60%;
            grid-area: img;
            padding: 80px 50px 10px 10px;
            animation-duration: 3s;
        }  
        .tex1{
            color: $ct-beige;
            font-size: medium;
            grid-area: tex1;
            padding: 0px 0px 10px 180px;
        }
        .tex2{
            color: $ct-beige;
            font-size: large;
            grid-area: tex2;
            padding: 5px 0px 10px 180px;
            font-family: 'Roboto', sans-serif;
        }
        .enlase{
            color: #B4B897;
            margin: auto;
            grid-area: enlase;
            margin-top: -10px;
            font-family: 'Roboto Serif', serif;
            animation-duration: 3s;
        }
        
    } 
} 
